@font-face {
  font-family: "Plain Light";
  src: url(./font/plain-regular-webfont.woff);
}

@font-face {
  font-family: "Plain Light";
  src: url(./font/plain-light-webfont.woff);
}

@font-face {
  font-family: "silk serif";
  src: url(./font/silkserif-regularitalic-webfont.woff);
}

@font-face {
  font-family: "silk serif";
  src: url(./font/silkserif-lightitalic-webfont.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
    overflow-x: hidden;
}
.crsr {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
  border: 1px solid #ffffffc6;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #030303;
  padding: 18vh 10vw;
}
#line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
#line-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line-loading h5,
#line-loading h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}
#line-loading h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}
#line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  animation-name: anime;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
main {
  position: relative;
  background-color: #151515;
}


.page1 {
  height: 100vh;
  width: 100%;
  /* z-index: 100; */
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 5vw;
}
nav .nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}
nav .nav1 h4 {
  font-size: 1vw;
  font-weight: 500;
}
#content {
  /* background-color: red; */
  width: 72%;
  margin-left: 28%;
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

#content:nth-child(2) {
  margin-top: 18vh;
}
#content h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  font-weight: 600;
  position: relative;
}
.page1no{
  position: absolute;
  height: 10vh;
  width: 10vh;
  left: 18.7%;
  top: 31.7%;
  overflow-y: hidden;
}
.page1no h3{
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
}
.content3 h2 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  font-weight: 600;
  border-bottom: 0.6vw solid white;
  padding-bottom: 0.4vw;
}
.content3 span {
  margin-left: 0.6vw;
}
.content3 h2:hover {
  transition: all ease 0.1s;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.6vw solid transparent;
}
.page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}
#video-container {
  height: 66vh;
  width: 71.29vw;
  position: relative;  
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}
#video-container video {
  height: 99.9%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
#video-crsr{
  background-color: #ffa630;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  top: -13%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#video-crsr i {
  font-size: 2.3vw;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 2vw;

}
.page3 h1{
  font-size: 7vw;
  text-transform: uppercase;
  margin-left: 26vw;
  position: relative;
}
.page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}
.page3 .underline{
  margin-left: 26vw;
}
.page3 .container{
  /* background-color: red; */
  padding: 1vw;
  position: relative;
}
.img-container{
  /* background-color: #3F7DF4; */
  height: 33vw;
  width: 24vw;
  position: relative;
  overflow: hidden;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 0;
}
.page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
.page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
.page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -14%;
  top: 0%;
}
.underline{
  height: 1px;
  width: 90%;
  background-color: #8A8A8A;
  margin: 5vw 0;
}
.page4-content>p{
    font-size: 2.3vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 45%;
    height: 90%;
}

#page4-flex p{
    font-size: 1vw;
    width: 25%;
    margin-left: 1vw;
}
.page4-award-board{
    background-color: #3F7DF4;
    width: 32.4vw;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -27vh;
    margin-left: 23vw;
}
#page4-awards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2vw 0;
    border-bottom: 2px solid #ffffffa5;
}
#page4-awards h4{
    font-size: 1.6vw;
    font-weight: 500;
}
#page4-awards p{
    width: 40%;
    font-size: 1vw;
}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#page5-moving-elem{
  white-space: nowrap;

  margin-bottom: -2vw;
}

#page5-moving-elem h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px ;
  animation-name: marque;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes marque {
  from{
    transform: translateX(0);
  }to{
    transform: translateX(calc(-100% - 20px));
  }
}
#page5-moving-elem span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

#page5-moving-elemRev{
  white-space: nowrap;
  margin-bottom: -2vw;
}

#page5-moving-elemRev h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px ;
  transform: translateX(calc(-100% - 20px));
  animation-name: marque;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

#page5-moving-elemRev span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
.footer{
  height: 108vh;
  width: 72%;
  /* background-color: red; */
  position: relative;
  margin-left: 28vw;
  padding-right: 2vw;
}
.footer h1{
  font-size: 7vw;
  text-transform: uppercase;
  /* background-color: #3F7DF4; */
  position: relative;
}
.footer h1::before{
  content: "04";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -14%;
  top:8%
}

#footer-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 8vw;
}
#footer-box{
  width: 25%;
}
#footer-box h6{
  font-size: 1vw;
  margin-bottom: 1.5vw;

}
#footer-box h5{
  font-size: 1.8vw;
  font-weight: 500;
  /* margin: 0.2vw 0; */
}
.footer>h5{
  font-weight: 500;
  font-size: 1vw;
}
.footer .underline{
  margin-top: 5vw;
  margin-bottom: 3vw;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}